<div ng-controller="MainController as main" layout="column" class="main" flex ng-cloak>

    <div class="main-content" layout="row" layout-padding flex>

        <md-sidenav md-component-id="left" class="md-sidenav-left">
            <div ng-include="'app/components/main/md-button-navbar.html'"></div>
        </md-sidenav>

        <div class="main-left-column" layout="column" layout-align="start center">
            <md-button aria-label="menu" ng-click="main.toggleLeft()">
                <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
                <md-tooltip md-direction="bottom">
                    Navigation
                </md-tooltip>
            </md-button>
            <span flex></span>
            <p>Logo?</p>
        </div>

        <div layout="column" class="main-viewport" ng-view></div>

    </div>

    <div class="main-footer" layout="row" layout-align="center center">
       © 2017 Michał Ziembowicz. All rights reserved.
    </div>

</div>
