<md-dialog>
    <md-content layout-padding>
        <div>
            <form name="manageUsersForm">
                <md-input-container>
                    <label>DUPA</label>
                    <input ng-model="manageUsersDlg.myJudges">
                </md-input-container>
            </form>
        </div>
        <div class="md-dialog-actions">
            <md-button ng-click="manageUsersDlg.accept()" class="md-primary">
                Zatwierdź zmiany
            </md-button>
        </div>
    </md-content>
</md-dialog>
